[Desktop Entry]
Name=OneNote
Exec=$APPACK_LAUNCH_CMD
Terminal=false
Type=Application
Icon=$ICON_FULL_PATH
Comment=Edit notes
Categories=Office;
StartupWMClass=onenote;
