[Desktop Entry]
Name=PowerPoint
Exec=$APPACK_LAUNCH_CMD
Terminal=false
Type=Application
Icon=$ICON_FULL_PATH
Comment=Edit slideshows
Categories=Office;
StartupWMClass=powerpnt;
